@import './text.scss';
@import './colors.scss';
@import './themes/default.scss';

html {
}

body {
  margin: 0;
  font-family: 'Lato', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $palette-beige;
  color: $theme-font-color;
  font-size: 20px;
  max-width:1152px;
  margin: auto;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 175%;
}

.btn {
  background: $button-color;
  color: $button-text-color;
}


