.ProfileBadge {
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 992px) {
  .ProfileBadge {
    width: 80%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}


